:root {
  /* font */
  --main-font-family: Roboto, sans-serif;
  /* color */
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196F3;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --color-icon: #AFB1B8;
  /* background-color */
  --background-color: #FFFFFF;
  --background-color-secondary: #F5F4FA;
  --background-color-third: #2F303A;
  --background-color-accent: #2196F3;
  --background-color-aktive: #188CE8;
  --background-color-icon: #FFFFFF1A;
  /* border-color */
  --border-portfolio: #EEEEEE;
  --border-line: #ECECEC;
  --border-color-aktive: #188CE8;
  --outline-color: #2196F3;
  --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--main-font-family);
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.heder__container {
  background-color: var(--background-colorl);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__line {
  border-bottom: 1px solid var(--border-line);
}

.heder__list-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.heder__item-auth:not(:last-child) {
  margin-right: 50px;
}

.header__contact {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: currentColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}
.header__contact:hover, .header__contact:focus {
  color: var(--accent-color);
}

.heder__icon {
  margin-right: 10px;
  fill: currentColor;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  margin-right: 93px;
}

.nav__logo--accent {
  color: var(--accent-color);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  color: var(--accent-color);
}
.nav__link--current::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--background-color-accent);
}

.section-bg {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #C4C4C4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/section-bg/Img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/section-bg/Img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

.section-bg__container {
  text-align: center;
}

.section-bg__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  width: 721px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.section-bg__button {
  padding: 10px 32px;
  min-width: 216px;
  min-height: 50px;
  left: 677px;
  top: 445px;
  -webkit-transition: background-color var(--anim-fast), text-shadow var(--anim-fast);
  transition: background-color var(--anim-fast), text-shadow var(--anim-fast);
}
.section-bg__button:hover, .section-bg__button:focus {
  background-color: var(--background-color-aktive);
  text-shadow: 0px 4px 4px var(--black-color);
}

.requirement {
  padding-top: 94px;
}

.activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activity__item {
  display: block;
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  margin-right: 30px;
  margin-bottom: 30px;
}

.activity__item:nth-child(4n) {
  margin-right: 0px;
}

.activity__item:nth-last-child(-n+4) {
  margin-bottom: 0px;
}

.activity__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--background-color-secondary);
  border-radius: 4px;
  margin-bottom: 30px;
}

.activity__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.activity__text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.offer {
  padding-bottom: 94px;
}

.offer__title,
.cart__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.work__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.work__img {
  position: relative;
}
.work__img::before {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__text {
  position: absolute;
  top: 251px;
  left: 107px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.cart {
  background-color: var(--background-color-secondary);
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.team__boxing {
  text-align: center;
  padding: 30px;
}

.team__list {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  border-radius: 4px;
}

.team__list {
  background-color: var(--background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}

.team__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 4px;
}

.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-color);
  color: var(--color-icon);
  -webkit-transition: background-color var(--anim-fast), color var(--anim-fast);
  transition: background-color var(--anim-fast), color var(--anim-fast);
}
.team__link:focus, .team__link:hover {
  color: var(--white-color);
  background-color: var(--background-color-aktive);
}

.team__icon {
  fill: currentColor;
}

.clients__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  color: var(--color-icon);
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  -webkit-transition: color var(--anim-fast), border-color var(--anim-fast);
  transition: color var(--anim-fast), border-color var(--anim-fast);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--border-color-aktive);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  padding-top: 72px;
  padding-bottom: 60px;
  background-color: var(--background-color-third);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__left {
  margin-right: 70px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 20px;
  display: block;
  color: var(--white-color);
}

.footer__logo--accent {
  color: var(--accent-color);
}

.footer__right {
  padding-top: 12px;
  margin-right: 93px;
}

.footer__group {
  padding-top: 12px;
}

.left {
  width: 231px;
}

.adress {
  font-style: normal;
}

.adress__text {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.adress__item {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}
.adress__item:hover, .adress__item:focus {
  color: var(--accent-color);
}

.center__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.center__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.center__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-color-icon);
  color: var(--white-color);
  -webkit-transition: background-color var(--anim-fast);
  transition: background-color var(--anim-fast);
}
.center__link:focus, .center__link:hover {
  background-color: var(--background-color-aktive);
}

.center__icon {
  fill: currentColor;
}

.group {
  width: 570px;
}

.group__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  position: relative;
}

.subscription__email {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  outline: 1px solid transparent;
  outline-offset: -1px;
}
.subscription__email:focus, .subscription__email:hover {
  outline-color: #2196F3;
}
.subscription__email::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__email::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__email:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__email::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__wrapper {
  position: relative;
}

.subscription__button {
  display: inline-block;
  margin: 0 auto;
  width: 200px;
  padding-left: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 62px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--anim-fast), text-shadow var(--anim-fast);
  transition: background-color var(--anim-fast), text-shadow var(--anim-fast);
}
.subscription__button:hover, .subscription__button:focus {
  background-color: var(--background-color-aktive);
  text-shadow: 0px 4px 4px var(--black-color);
}

.subscription-icon {
  position: absolute;
  top: 30%;
  left: 148px;
}

.portfolio {
  background-color: var(--background-color);
  padding-top: 100px;
  padding-bottom: 94px;
}

.portfolio__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  display: block;
  margin-right: 8px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-color-secondary);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: color var(--anim-fast), background-color var(--anim-fast), -webkit-box-shadow var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast), -webkit-box-shadow var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast), box-shadow var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast), box-shadow var(--anim-fast), -webkit-box-shadow var(--anim-fast);
}
.filter__button:hover, .filter__button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.project__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.project__link {
  display: block;
}
.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  display: inline-block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--anim-fast);
  transition: -webkit-transform var(--anim-fast);
  transition: transform var(--anim-fast);
  transition: transform var(--anim-fast), -webkit-transform var(--anim-fast);
}
.project__link:hover .project__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__desc {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(24px, 63px);
          transform: translate(24px, 63px);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1.56;
  color: #FFFFFF;
  width: 322px;
}

.project__infa {
  padding: 24px;
  border-left: 1px solid var(--border-portfolio);
  border-right: 1px solid var(--border-portfolio);
  border-bottom: 1px solid var(--border-portfolio);
}

.project__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.project__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--anim-fast), visibility var(--anim-fast);
  transition: opacity var(--anim-fast), visibility var(--anim-fast);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--anim-fast);
  transition: -webkit-transform var(--anim-fast);
  transition: transform var(--anim-fast);
  transition: transform var(--anim-fast), -webkit-transform var(--anim-fast);
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal__close:focus, .modal__close:hover {
  fill: var(--accent-color);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.close {
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.close__icon {
  background-color: inherit;
  -webkit-transition: fill var(--anim-fast);
  transition: fill var(--anim-fast);
}

.name__data {
  margin-bottom: 20px;
}

.name__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.name__row {
  position: relative;
  margin-bottom: 10px;
}

.name__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  padding-left: 42px;
  -webkit-transition: outline-color var(--anim-fast);
  transition: outline-color var(--anim-fast);
}
.name__input:focus, .name__input:hover {
  outline-color: var(--accent-color);
}

.name__icon {
  position: absolute;
  top: 25%;
  left: 12px;
  -webkit-transition: fill var(--anim-fast);
  transition: fill var(--anim-fast);
}
.name__input:focus + .name__icon {
  fill: var(--accent-color);
}

.name__coment {
  display: block;
  width: 100%;
  max-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  padding: 12px 16px;
  resize: none;
  -webkit-transition: outline-color var(--anim-fast);
  transition: outline-color var(--anim-fast);
}
.name__coment:focus, .name__comentt:hover {
  outline-color: var(--accent-color);
}

.name__coment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.name__coment::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.name__coment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.name__coment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.name__coment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.data__checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.data__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.data__input {
  margin-right: 8px;
}

.data__input:checked + .data__icon {
  border-color: var(--black-color);
  background-color: var(--accent-color);
  background-image: url(../images/modal-window/icon.svg);
  background-size: contain;
  background-origin: border-box;
  background-position: center;
}

.data__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid var(--black-color);
  border-radius: 2px;
  margin-right: 8px;
  -webkit-transition: var(--anim-fast);
  transition: var(--anim-fast);
}

.data__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
  margin-left: 5px;
  text-underline-offset: 2px;
}

.data__btn {
  display: block;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 52px;
  margin: 0 auto;
  -webkit-transition: background var(--anim-fast);
  transition: background var(--anim-fast);
}
.data__btn:hover, .data__btn:focus {
  background: var(--background-color-aktive);
}/*# sourceMappingURL=main.css.map */