.subscription {
    display: flex;
    gap: 12px;
    position: relative;
}

.subscription__email {
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    outline: 1px solid transparent;
    outline-offset: -1px;

    &:focus,
    &:hover {
    outline-color: #2196F3;
    }

    &::placeholder {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
    }
}


.subscription__wrapper {
    position: relative;

}

.subscription__button {
    display: inline-block;
    margin: 0 auto;
    width: 200px;
    padding-left: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 62px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color var(--anim-fast),
    text-shadow var(--anim-fast);

    &:hover,
    &:focus {
    background-color: var(--background-color-aktive);
    text-shadow: 0px 4px 4px var(--black-color);
    
    }
}


.subscription-icon {
    position: absolute;
    top: 30%;
    left: 148px;

}