.portfolio__filter {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;

    @media screen and (max-width: 797px) {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        
    }


}

.filter__item {
 margin-right: 8px;
        
}

.filter__item:not(:nth-last-child(-n + 2)) {

@media screen and (max-width: 797px) {
    margin-bottom: 15px;

}
}
.filter__button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    display: block;
    
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--background-color-secondary);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: color var(--anim-fast), background-color var(--anim-fast), box-shadow var(--anim-fast);

    &:hover,
    &:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
     }

        @media screen and (max-width: 797px) {
            padding-left: 25px;
            padding-right: 25px;
        }
}

