.activity {
    display: flex;

    // // screen phone and screen tablet
    
    @media screen and (max-width: 1199px) {
     flex-wrap: wrap;
     gap: 30px;
    }
}


.activity__item {
    display: block;
    
    // screen phone
    @media screen and (max-width: 767px) {
        max-width: 450px;
               
    }

    //  screen tablet
    @media screen and (min-width: 768px){
       
        flex-basis: calc((100% - 30px) / 2);


    }
    //   screen desktop

    @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
    margin-right: 30px;
    margin-bottom: 30px;
    }
}


.activity__item:nth-child(4n) {

    //   screen desktop
    @media screen and (min-width: 1200px) {
       margin-right: 0px;
    }
       
}

.activity__item:nth-last-child(-n+4) {
    
    //   screen desktop
    
    @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
    }
    
}


.activity__icons {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--background-color-secondary);
    border-radius: 4px;
    margin-bottom: 30px;

}



.activity__title {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.activity__text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--text-color);
}