.clients__title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

}

// // screen phone and screen tablet

@media screen and (max-width: 1199px) {
    .clients__title {
        font-size: 28px;
        margin-bottom: 30px;
    }
   
}


.clients__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 1199px) {
     flex-wrap: wrap;
      
    }
}


.clients__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 170px;
    height: 92px;
    color: var(--color-icon);
    border: 1px solid var(--color-icon);
    border-radius: 4px;
    transition: color var(--anim-fast), border-color var(--anim-fast);

    &:hover,
    &:focus {
    color: var(--accent-color);
    border-color: var(--border-color-aktive);
    }


    @media screen and (max-width: 767px) {
        width: 210px;
       
    }

    @media screen and (min-width: 768px) {
        width: 226px;
    
    }
    @media screen and (min-width: 1200px) {
        width: 170px;
        
        }
}







.clients__icon {
    fill: currentColor;
}

