.offer {
    padding-bottom: 94px;
    
    @media screen and (max-width: 1199px) {
    display: none;
    }
        
}


.offer__title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}