.section-bg {
    padding-top: 200px;
    padding-bottom: 200px;
   
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
    margin-right: auto;

    background-color: #C4C4C4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
      
// Mobile screen
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/section-bg/img_m@1x.jpg);

    // retina mobile screen
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/section-bg/img_m@2x.jpg);
    }

    // Tablet screen
    @media screen and (min-width: 481px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/section-bg/img_t@1x.jpg);

        // retina tablet screen
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/section-bg/img_t@2x.jpg);
        }
    }

    // Desktop screen
    @media screen and (min-width: 769px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/section-bg/img_d@1x.jpg);

        // retina desktop screen
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/section-bg/img_d@2x.jpg);
        }
    }
       
       

    // screen phone and screen tablet
    @media screen and (max-width: 1199px) {
        padding-top: 118px;
        padding-bottom: 118px;

    }
}

.section-bg__container {
    text-align: center;
}

.section-bg__title {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    width: 721px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);

    // // screen phone and screen tablet

    @media screen and (max-width: 1199px) {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    width: 360px;

    }
}


.section-bg__button {

    padding: 10px 32px;
    min-width: 216px;
    min-height: 50px;
    

    // screen phone and screen tablet

    @media screen and (max-width: 1199px) {
        padding: 10px 24px;
        min-width: 200px;
        min-height: 50px;
        
    }

    transition: background-color var(--anim-fast), text-shadow var(--anim-fast);

    &:hover,
    &:focus {
    background-color: var(--background-color-aktive);
    text-shadow: 0px 4px 4px var(--black-color);
    
    }

}


